<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:object="${staff}">
        <span th:text="${staff.getEmpName()}"></span>
    </h1>

    <ul>
        <th:block th:object="${restaurant}">
            <li th:text="${restaurant.getResName()}"></li>
        </th:block>
    </ul>

    <ul>
        <th:block th:each="employee : ${listEmployee}">
            <li th:text="${employee.getEmpName()}"></li>
        </th:block>
    </ul>
</body>
</html>