<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <button id="back-button">Go back</button>
    <script>
        document.getElementById("back-button").addEventListener("click", function () {
            window.history.back();
        });
    </script>

    <form th:action="@{/admin/addbranch}" method="post" th:object="${restaurant}">
        <span>Thể loại: </span>
        <select id="categoryRe" th:field="*{categoryRes}" onchange="checkOther(this)">
            <option value="Món Việt" selected>Món Việt</option>
            <option value="Món Hàn" selected>Món Hàn</option>
            <option value="Món Nhật" selected>Món Nhật</option>
            <option value="Lẩu" selected>Lẩu</option>
            <option value="Nướng" selected>Nướng</option>
            <option value="Hải Sản" selected>Hải Sản</option>
            <option value="Quán Nhậu" selected>Quán Nhậu</option>
            <option value="Món Chay" selected>Món Chay</option>
            <option value="Buffet" selected>Buffet</option>
            <option value="other">Other</option>
        </select>

        <div id="other-category" style="display: none;">
            <input type="text" id="other-category-input">
        </div>

        <span>Tên: </span><input type="text" th:value="${restaurant.getResName()}" th:field="*{resName}"><br>

        <select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm" th:field="*{city}">
            <option value="" selected>Chọn tỉnh thành</option>
        </select><br>

        <select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm" th:field="*{district}">
            <option value="" selected>Chọn quận huyện</option>
        </select><br>

        <select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm" th:field="*{commune}">
            <option value="" selected>Chọn phường xã</option>
        </select><br>

        <span>Số nhà</span>
        <input type="text" th:value="${restaurant.getMap()  }" th:field="*{map}">
        <input type="submit" value="Add">
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var citis = document.getElementById("city");
        var district = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
            renderCity(result.data);
        });

        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Name);
            }
            citis.onchange = function () {
                district.length = 1;
                ward.length = 1;
                if(this.value != ""){
                    const result = data.filter(n => n.Name === this.value);

                    for (const k of result[0].Districts) {
                        district.options[district.options.length] = new Option(k.Name, k.Name);
                    }
                }
            };
            district.onchange = function () {
                ward.length = 1;
                const dataCity = data.filter((n) => n.Name === citis.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Name);
                    }
                }
            };
        }
    </script>
    <script>
        function checkOther(select) {
            if (select.value === 'other') {
                document.getElementById('other-category').style.display = 'block';
                document.getElementById('other-category-input').addEventListener('input', function() {
                    select.value = this.value;
                });
            } else {
                document.getElementById('other-category').style.display = 'none';
            }
        }
    </script>
</body>
</html>