<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 th:text="${error}"></h2>
    <form th:action="@{/admin/addstaff/{id}(id=${restaurant.getResID()})}" method="post" th:object="${staff}">
        <label>Name: </label><input type="text" th:value="${staff.getEmpName()}" th:field="*{empName}"><br>
        <label>Email: </label><input type="text" th:value="${staff.getEmail()}" th:field="*{email}"><br>
        <label>Password: </label><input type="text" th:value="${staff.getPassword()}" th:field="*{password}"><br>
        <label>Phone: </label><input type="text" th:value="${staff.getPhoneNumber()}" th:field="*{phoneNumber}"><br>
        <label>Salary: </label><input type="text" th:value="${staff.getSalary()}" th:field="*{salary}"><br>

        <select name="roleIdd" onchange="handleRoleChange(this)">
            <option th:each="r : ${roleList}" th:text="${r.getRoleName()}" th:value="${r.getRoleId().getRoleId()}"></option>
            <option value="-1">Other</option>
        </select>

        <div id="other-role-details" style="display:none" th:object="${newRole}">
            <input type="hidden" th:value="${roleList.size() + 1}" name="newRoleId">
            <input type="text" name="roleName" th:field="*{roleName}">

            <label >Permissions:</label>
            <label><input th:field="*{edit}" type="checkbox" name="canEdit"> Edit</label>
            <label><input th:field="*{view}" type="checkbox" name="canView"> View</label>
            <label><input th:field="*{create}" type="checkbox" name="canCreate"> Create</label>
            <label><input th:field="*{delete}" type="checkbox" name="canDelete"> Delete</label>
        </div>

        <input type="submit" value="Add">
    </form>

    <script>
        function handleRoleChange(select) {
            if (select.value === "-1") {
                document.getElementById("other-role-details").style.display = "block";
            } else {
                document.getElementById("other-role-details").style.display = "none";
            }
        }
    </script>
</body>
</html>