<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Restaurants:</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="restaurant : ${listRes}">

        <a th:href="@{/home/admin/restaurant/{id}(id=${restaurant.getResID()})}">
            <div>
                <h3 th:text="${restaurant.getResName()}"></h3>
                <h3 th:text="${restaurant.getDistrict()}"></h3>
                <h3 th:text="${restaurant.getCity()}"></h3>
                <h3 th:text="${restaurant.getRatingPoint()}"></h3>
            </div>
        </a>

    </div>

    <div>
        <a th:href="@{/admin/addbranch}">
            add new branch
        </a>
    </div>

    <div>
        <a th:href="@{/admin/table}">
            add new branch
        </a>
    </div>
</body>
</html>