@import url('https://fonts.googleapis.com/css?Montserrat');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box{
    background: #3a353547;
    padding: 100px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    font-size: 14px;
    border-radius: 5px;
}



.user-icon{
    background: rgba(246, 63, 13, 0.918);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
}

.user-icon i{
    font-size: 40px;
    color: #fff;
}


.login{
    width: 100%;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"].form-control, input[type="password"].form-control, input[type="number"].form-control{
    font-size: 16px;
    outline: none;
    border: none;
    width: calc(100% - 36px);
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

input[type="text"].form-control:hover, input[type="password"].form-control:hover, input[type="number"].form-control:hover{
    border: 2px solid #f8bbd0;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus, input[type="number"].form-control:focus{
    border: 2px solid rgba(246, 63, 13, 0.918);
}

input[type="text"].form-control:active, input[type="password"].form-control:active, input[type="number"].form-control:active{
    border: 2px solid rgba(246, 63, 13, 0.918);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

label input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

button{
    outline: none;
    background: rgba(246, 63, 13, 0.918);
    color: #fff;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0 3s ease;
}

button:hover{
    box-shadow: 5px 5px 5px #ccc;
}

a{
    color: rgb(9, 23, 131);
}

.serparater{
    width: 100%;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
}

.social-login{
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-login a{
    display: inline-block;
    background: rgba(246, 63, 13, 0.918);
    color: #fff;
    border-radius: 5px;
    padding: 16px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-login a:hover{
    background-color: pink;
    box-shadow:  5px 5px 5px #ccc;
}

.social-login a i{
    color: pink;
    margin-right: 10px;
}

.homepage{
    display: flex;
    margin-top: 50px;
    margin-left: -450px;
    cursor: pointer;
}

.homepage a{
    display: inline-block;
    color: rgb(9, 23, 131);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.homepage align-self:hover{
    background-color: pink;
    box-shadow:  5px 5px 5px #ccc;
}

.form-group a{
    text-decoration: none;
}


