<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<form th:action="@{/categoryMenu/save}" method="post" th:object="${categoryMenu}">
  catgoryMenu Name: <input type="text" th:field="*{cateName}"/>
  Description: <input type="text"  th:field="*{description}"/>
  <button type="submit" class="btn btn-secondary">Save</button>
  <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
</form>

</body>
<script type="text/javascript">
  function cancelForm(){
    window.location = "/categoryMenu";
  }
</script>
</html>