<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="text-center">
    <a th:href="@{/categoryMenu/new}">Addnew</a>
</div>
      <div>
          <table class="table table-bordered">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Action</th>
              </tr>
              </thead>
              <tbody class="tbody">
              <th:block th:each="categoryMenu : ${listCategoryMenu}">
                  <tr>
                      <td th:text="${categoryMenu.getCateID()}"></td>
                      <td th:text="${categoryMenu.getCateName()}"></td>
                      <td th:text="${categoryMenu.getDescription()}"></td>
                      <td>
                          <a th:href="@{'/categoryMenu/edit'+ ${categoryMenu.getCateID()}}">Edit</a>
                          <a th:href="@{'/categoryMenu/delete/'+ ${categoryMenu.getCateID()}}">Delete</a>
                      </td>
                  </tr>
              </th:block>
              </tbody>
          </table>
      </div>
</body>
</html>