<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my WebApplication</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" th:object="${listMenu}">
    <div class="text-center">
        <a th:href="@{/menu/menu/new/{id}(id=${detail.getResID()})}">Addnew</a>
    </div>
    <h1>Restaurant Detail</h1>
    <p>Name: <span th:text="${detail.getResID()}"></span></p>
    <p>Address: <span th:text="${detail.getCity()}"></span></p>
    <p>Phone: <span th:text="${detail.getResName()}"></span></p>

    <h2>Menu</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="menu : ${listMenuDetailRes}">
        <tr>
            <td th:text="${menu.getFoodId()}"></td>
            <td th:text="${menu.getFoodName()}"></td>
            <td th:text="${menu.getPrice()}"></td>
<!--            <td th:text="${menu.categoryMenu.getCateID()}"></td>-->
            <td th:text="${menu.restaurant.getResID()}"></td>
            <td th:text="${menu.isStatusFood()}"></td>
            <td>
                <a th:href="@{/menu/menu/edit/{id}(id = ${menu.foodId})}">Edit</a>
                <a th:href="@{/menu/menu/delete/{id}(id = ${menu.foodId})}">Delete</a>
            </td>
        </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>