<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<h1>Add New Food</h1>

<form th:action="@{/menu/menu/save/{id}(id=${resID})}" method="post">

    <label for="foodName">Food Name:</label>
    <input type="text" name="foodName" id="foodName" />

    <label for="descriptionFood">Description:</label>
    <textarea name="descriptionFood" id="descriptionFood" ></textarea>

    <label for="picture">Picture:</label>
    <input type="text" name="picture" id="picture" />

    <label for="price">Price:</label>
    <input type="number" name="price" id="price"/>

    <label for="cateID">Category:</label>
    <select name="cateID" id="cateID">
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
        <option value="4">Category 4</option>
    </select>
    <button type="submit">Add Food</button>
</form>


</body>
</html>