<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{/menu/save}" method="post" th:object="${menu}">
        Food Id <input type="hidden" th:field="*{foodId}"/>
        Food Name: <input  type="text" th:field="*{foodName}"/><br>
        Description: <input  type="text"th:field="*{descriptionFood}"/><br>
        Link Image: <input  type="text" th:field="*{picture}"/><br>
        Price: <input  type="text"th:field="*{price}"/><br>

        <button type="submit" class="btn btn-secondary">Save</button>
        <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>
    </form>
</body>
<script type="text/javascript">
    function cancelForm(){
        window.location = "/menu";
    }
</script>
</html>