<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my WebApplication</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center" th:object="${listMenu}">
    <h1>Manager menu</h1>
    <div class="text-center">
        <a th:href="@{/menu/new}">Addnew</a>
    </div>
<!--    <div th:if="${message}" class="alert alert-success text-center">-->
<!--        [[${message}]]-->
<!--    </div>-->
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>cateID</th>
                <th>Picture</th>
                <th>Status</th>
                <th>Resid</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="tbody">
            <th:block th:each="user : ${listMenu}">
                <tr>
                    <td th:text="${user.getFoodId()}"></td>
                    <td th:text="${user.getFoodName()}"></td>
                    <td th:text="${user.getDescriptionFood()}"></td>
<!--                    <td th:text="${user.getCategoryMenu().getCateID()}"></td>-->
                    <td th:text="${user.getPicture()}"></td>
                    <td th:text="${user.isStatusFood()}"></td>
<!--                    <td th:text="${user.getRestaurant().getResID()}"></td>-->

                    <td>
                        <a th:href="@{'/menu/edit/'+ ${user.getFoodId()}}">Edit</a>
                        <a th:href="@{'/menu/delete/'+ ${user.getFoodId()}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>