<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Hot Restaurants:</h1>
    <ul>
        <th:block th:each="restaurant : ${listHotRestaurant}">
            <li th:text="${restaurant.getResName()}"></li>
        </th:block>
    </ul>

    <h1>Cities:</h1>
    <ul>
        <th:block th:each="city : ${listCity}">
            <li th:text="${city}"></li>
        </th:block>
    </ul>

    <h1>Companies:</h1>
    <ul>
        <th:block th:each="company : ${listCompany}">
            <li th:text="${company.getCompanyName()}"></li>
        </th:block>
    </ul>

    <h1>Categories:</h1>
    <ul>
        <th:block th:each="category : ${listCategoryRes}">
            <li th:text="${category}"></li>
        </th:block>
    </ul>

    <h1>Hot Foods:</h1>
    <ul>
        <th:block th:each="food : ${listHotFood}">
            <li th:text="${food.getFoodName()}"></li>
        </th:block>
    </ul>
</body>
</html>