<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    <div>
        <h1 th:text="${session.customer.getCusName()}"></h1>
        <a th:href="@{/login/logout}">
            Logout
        </a>
    </div>

    <h1>Hot Restaurants:</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="restaurant : ${listHotRestaurant}">
        <div>
            <h3 th:text="${restaurant.getResName()}"></h3>
        </div>
    </div>

    <h1>Cities</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="city : ${listCity}">
        <div>
            <h3 th:text="${city}"></h3>
        </div>
    </div>

    <h1>Companies:</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="company : ${listCompany}">
        <div>
            <h3 th:text="${company.getCompanyName()}"></h3>
        </div>
    </div>

    <h1>Category</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="category : ${listCategoryRes}">
        <div>
            <h3 th:text="${category}"></h3>
        </div>
    </div>

    <h1>Hot food</h1>
    <div style="border: 2px solid; margin-bottom: 20px" th:each="food : ${listHotFood}">
        <div>
            <h3 th:text="${food}"></h3>
        </div>
    </div>

</body>
</html>