<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<!-- banner bg main start -->
<div class="banner_bg_main">

    <!-- Chỗ này sẽ hiển thị category Res -->
    <!-- header top section start -->
    <div class="container">
        <div class="header_section_top">
            <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                        <ul>
                            <li th:each="category : ${listCategoryRes}">
                                <a th:href="@{/home/customer/search/{category}(category = ${category})}"
                                   th:text="${category}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top section end -->


    <!-- logo section start -->
    <div class="logo_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="homepage.html"><img style="width: 15%;" src="http://drive.google.com/uc?export=view&id=1PvcxMzPLy5G5z2BU0padYhW1aLCwKs5E"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Địa điểm
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Hà Nội</a>
                        <a class="dropdown-item" href="#">Hà Nội</a>
                        <a class="dropdown-item" href="#">Hà Nội</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nhà hàng
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">5 sao</a>
                        <a class="dropdown-item" href="#">5 sao</a>
                        <a class="dropdown-item" href="#">5 sao</a>
                    </div>
                </div>

                <div class="main">
                    <!-- Another variation with a button -->
                    <form class="input-group">
                        <input type="text" class="form-control" placeholder="Search this blog">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit"
                                    style="background-color: #f26522; border-color:#f26522 ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="header_box">
                    <div class="login_menu">
                        <ul>
                            <!-- PROFILE -->
                            <li>
                                <a th:href="@{/customer/profile}" th:text="${session.customer.getCusName()}">
                                    <i class="fa fa-user" aria-hidden="true" style="color: #262626; font-size: x-large;"></i>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/login/logout}">
                                    <i class="fa fa-sign-in" aria-hidden="true"
                                       style="color: #262626; font-size: x-large;"></i>
                                    <i class="fa fa-sign-out" aria-hidden="true"
                                       style="color: #262626; font-size: x-large;"></i>
                                </a>
                            </li>
                            <!-- <li><a href="#">
                                  <i class="fa fa-sign-out" aria-hidden="true"
                                     style="color: #262626; font-size: x-large;"></i>
                            </li> -->

                            <!-- Chưa có about us! -->
                            <li><a href="#">
                                <i class="fa fa-question" aria-hidden="true"
                                   style="color: #262626; font-size: x-large;"></i>
                                </a>
                            </li>

                            <!-- Bấm vào đây để quản lý -->
                            <!-- <li><a href="#">
                               <i class="fa fa-gear" aria-hidden="true"
                                  style="color: #262626; font-size: x-large;"></i>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="banner_taital" style="color: #262626;">Get Start <br>Your favriot</h1>
                                <div class="buynow_bt"><a href="#">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- banner bg main end -->

<!-- project section1 start -->
<div class="project_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="project_taital" style="margin-top: 30px;">Top restaurant</h1>

                    <!-- More button -->
                    <div class="seemore_bt">
                        <a href="">Xem thêm<i class="fa fa-arrow-circle-o-up" style="margin: 15px;"></i></a>
                    </div>

                    <div class="project_section_2">
                        <div class="row" th:each="restaurant : ${listHotRestaurant}">

                            <!-- start foreach -->
                            <div class="col-lg-3 col-sm-3">
                                <a class="box_main" th:href="@{/restaurant/customer/{id}(id=${restaurant.getResID()})}">
                                    <div class="tshirt_img"><img src="images/doan.jpg"></div>
                                    <div class="shirt_text" th:text="${restaurant.getResName()}"></div>
                                    <p class="price_text">
                                 <span style="color: #262626;" th:text="${restaurant.getCity()}">
                                 </span>
                                    </p>
                                    <div class="btn_main">
                                        <div class="seemore_bt"><a href="#" class="fa fa-tags"
                                                                   th:text="${restaurant.getCategoryRes()}"></a></div>
                                    </div>
                                </a>
                            </div>
                            <!-- end foreach -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- project section end -->

<!-- project section2 start -->
<div class="project_section">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="project_taital" style="margin-top: 30px;">Best Sale Food</h1>

                    <!-- More button -->
                    <div class="seemore_bt">
                        <a href="">Xem thêm<i class="fa fa-arrow-circle-o-up" style="margin: 15px;"></i></a>
                    </div>

                    <div class="project_section_2">
                        <div class="row" th:each="food : ${listHotFood}">

                            <!-- start foreach -->
                            <div class="col-lg-3 col-sm-3">
                                <a class="box_main" th:href="@{/restaurant/customer/{id}(id=${food.getResID()})}">
                                    <div class="tshirt_img"><img src="images/doan.jpg"></div>
                                    <div class="shirt_text" th:text="${food.getFoodName()}">Banh</div>
                                    <p class="price_text">
                                 <span style="color: #262626;" th:text="${food.getPrice()}">10000
                                 </span>
                                    </p>
                                    <p class="price_text">
                                 <span style="color: #262626;" th:text="${food.getRestaurant().getResName()}">Nha hang
                                 </span>
                                    </p>
                                    <p class="price_text">
                                 <span style="color: #262626;" th:text="${food.getDescriptionFood()}">Ngon vk
                                 </span>
                                    </p>
                                </a>
                            </div>
                            <!-- end foreach -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- project section end -->



<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="homepage.html"><img style="width: 15%;" src="images/page-logo.png"></a></div>

        <form class="input_bt">
            <input type="text" class="mail_bt" placeholder="Feedback" name="feedback">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Gửi</a></span>
        </form>

        <div class="footer_menu">
            <ul>
                <li th:each="category : ${listCategoryRes}">
                    <a th:href="@{/home/customer/search/{category}(category = ${category})}" th:text="${category}"></a>
                </li>
            </ul>
        </div>
        <div class="location_main">Email : <a href="#">support@codefood.vn</a></div>
    </div>
</div>
<!-- footer section end -->








<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>